[submodule "webrtc"]
	path = webrtc
	url = https://webrtc.googlesource.com/src
[submodule "third_party/libyuv"]
	path = third_party/libyuv
	url = https://chromium.googlesource.com/libyuv/libyuv
[submodule "absl_inl/absl"]
	path = absl_inl/absl
	url = https://github.com/abseil/abseil-cpp.git
[submodule "third_party/libsrtp"]
	path = third_party/libsrtp
	url = https://github.com/cisco/libsrtp.git
